@media (min-width: 768px) {
    .page-root {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        max-width: none;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        overflow: hidden;
        left: 0;
        right: 0;
    }

        .page-root > .conditions {
            width: 20%;
            flex-shrink: 0;
            flex-grow: 0;
            overflow-y: auto;
        }

        .page-root > .item-list {
            flex-grow: 1;
            display: flex;
            flex-flow: column nowrap;
        }

            .page-root > .item-list > .item-toolbar {
                flex-shrink: 0;
                flex-grow: 0;
            }

            .page-root > .item-list > .item-body {
                flex-grow: 1;
                position: relative;
                overflow: hidden;
            }
}
